*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Blocks */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Value Sans Pro';
    overflow: hidden;
}

section {
    height: 100vh;
    transition: background-color 0.3s ease;
}

.container {
    width: 90%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

/* Blocks */
/* Tags */

h1 {
    font-size: 96px;
    font-weight: 900;
    letter-spacing: 2%;
    line-height: 96px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 3%;
}

h3 {
    font-size: 40px;
    letter-spacing: 3%;
    font-size: 32px;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
}

button {
    font-size: 24px;
    font-weight: 500;
    border-radius: 50px;
    background: none;
    cursor: pointer;
    letter-spacing: 6%;
}

input {
    padding: 16px;
    outline: none;
    border: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
}

textarea {
    padding: 16px;
    border: none;
    resize: none;
}

/* Tags */
/* Components */

.button-white {
    color: #fff;
    background-color: #ffffff00;
    transition: background-color ease-in-out .2s;
    border: 1px solid #fff;
    padding: 1px 32px;
}

.button-white:hover {
    background-color: #ffffff20;
    transition: background-color ease-in-out .2s;
}


.title-block > h2::before {
    content: '';
    display: block;
    width: 200px;
    height: 5px;
    background-color: #ff4400;
    margin-bottom: 40px;
}

/* Components */