.header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__navigation > li:not(:last-child) {
    margin-right: 32px;
}

.header__navigation > li > a {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3%;
    color: #fff;
}

.header__navigation > li > a:hover {
    color: #cccccc;
    transition: color ease-in-out .2s;
}

.header__writeus {
    color: #fff;
    background-color: #ffffff00;
    transition: background-color ease-in-out .2s;
    border: 1px solid #fff;
    padding: 1px 32px;
}

.header__writeus:hover {
    background-color: #ffffff20;
    transition: background-color ease-in-out .2s;
}


.hero {
    height: 100vh;
}

.hero__wrapper {
    position: relative;
    height: 100%;
}

.hero__video-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero__video-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
    pointer-events: none;
    z-index: -1;
}

.hero__video-background > video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -2;
}

.hero__content {
    position: absolute;
    /* height: 100%; */
    top: 35%;
    width: 50%;
}

.hero__content > h1 {
    color: #fff;
    margin-bottom: 48px;
}

.hero__content > p {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 3%;
    color: #E0E0E0;
    margin-bottom: 56px;
}

.hero__content > button {
    color: #fff;
    background-color: #ffffff00;
    transition: background-color ease-in-out .2s;
    border: 1px solid #fff;
    padding: 16px 32px;
}

.hero__content > button:hover {
    background-color: #ffffff20;
    transition: background-color ease-in-out .2s;
}

.hero__down {
    position: absolute;
    left: 50%;
    bottom: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__down img:nth-child(1) {
    margin-bottom: 32px;
}

.hero__down img:nth-child(2) {
    height: 60px;
    animation-name: move-arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes move-arrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}



.stats {
    background-image: url('../resource/img/bg_stat.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stats > .container {
    display: flex;
    align-items: center;
}

.stats__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: fit-content;
}

.stats__row:nth-child(1) {
    margin-bottom: 136px;
}

.stats__title {
    width: 90%;
    color: #fff;
}

.stats__header > button {
    margin-top: 56px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.stats__slide {
    position: relative;
}

.stats__slide > h3 {
    color: #fff;

}

.stats__slide > p {
    font-size: 18px;
    font-weight: 500;
    color: #e0e0e0;
    width: 80%;
}

.stats__line::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: #999999;
    margin-top: 67px;
}

.stats__number > span:nth-child(1) {
    font-size: 186px;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 16px;
    color: #fff;
    transition: all 0.3s ease-out;
}

.stats__number > span:nth-child(2) {
    font-size: 64px;
    font-weight: 500;
    color: #ff4400;
}



.cases__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.cases__wrapper > h2 {
    color: #000000;
    margin-bottom: 56px;
    text-align: center;
}

.cases__accordion {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 720px;
    gap: 20px;
}

.cases__accordion_item {
    flex: 1;
    transition: flex 0.3s ease;
    position: relative;
    cursor: pointer;
    background: #f4f4f4;
    overflow: hidden;
    border-radius: 12px;
    opacity: .5;
}

.cases__accordion_item.active {
    position: relative;
    flex: 9;
    opacity: 1;
}

.cases__accordion_wrapper {
    padding: 56px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cases__accordion_content {
    display: none;
    flex-direction: column;
}

.cases__accordion_item.active .cases__accordion_content {
    display: flex;
}

.cases__accordion_content > h2 {
    color: #ffffff;
    margin-bottom: 40px;
}

.cases__accordion_content > p {
    color: #e0e0e0;
    font-size: 24px;
    font-weight: 400;
    width: 516px;
    line-height: 30px;
    letter-spacing: 3%;
    margin-bottom: 56px;
}

.cases__accordion_content > div {
    display: flex;
    align-items: center;
    gap: 32px;
}

.cases__accordion_content button:first-child {
    padding-top: 8px;
    padding-bottom: 8px;
}

.cases__accordion_content button:last-child {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 16px;
}

.cases__accordion_content button:last-child:hover {
    background-color: #e0e0e0;
}

.cases__accordion_content button:last-child > div:first-child {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #999999;
}

.cases__accordion_pagination {
    display: flex;
    align-items: center;
}

.cases__accordion_pagination div {
    width: 14px;
    height: 14px;
    background-color: #999999;
    border-radius: 50%;
    cursor: pointer;
}

.cases__accordion_pagination div:not(:last-child) {
    margin-right: 24px;
}

.cases__accordion_pagination div.active {
    background-color: #ff4400;
    width: 16px;
    height: 16px;
}



#section1 { 
    background-color: #ff6f61;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}